<div class="container">
    <img src="../../../assets/img/flecha2.png" routerLink="/roladmincategoriasyproductos" routerLinkActive="active" alt="retroceder" width="50px" class="mt-3">
    <h2 class="text-center mt-3">Administrar Categorías</h2>
    <button class="btn btn-agregar-usuario mt-3" title="Agregar categoría" type="button" data-bs-toggle="modal"
        data-bs-target="#modalAgregarCategoria">
        <i class="bi bi-plus-circle"></i>
    </button>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let category of CategoriasModelGet">
            <div class="card text-center mb-3">
                <div class="card-header pink-header">
                    {{ category.nombreCategoria }}
                </div>
                <div class="card-body">
                    <div class="aspect-ratio">
                        <img *ngIf="category.imagen" [src]="'http://localhost:3000/imagenes/' + category.imagen">
                    </div>
                    <h5 class="card-title">ID: {{category._id}}</h5>
                    <h5 class="card-title">Descripción: {{category.descripcionCategoria}}</h5>
                    <h5 class="card-title">ID Usuario: {{category.idUsuario}}</h5>

                    <button type="button" class="btn btn-outline-warning mx-3 w-25" data-bs-toggle="offcanvas"
                        data-bs-target="#editarCategoriasApp" aria-controls="offcanvasExample"
                        (click)="getCategoriaId(category._id)"><img src="../../../assets/img/editaricono.png" alt="" class="icono"></button>
                    <button type="button" class="btn btn-outline-danger w-25"
                        (click)="deleteCategorias(category._id)"><img src="../../../assets/img/trash.svg" alt="" class="icono"></button>
                </div>
            </div>
        </div>
    </div>

    <!--Agregar-->
    <div class="modal fade" id="modalAgregarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" #modal>
        <div class="modal-dialog">
            <div class="modal-content bk-form">
                <div class="modal-header pink-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar categoría</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="mb-3">
                            <label for="inputImagen" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="inputImagen" (change)="onImageSelected($event)">
                        </div>
                        <div class="mb-3">
                            <label for="inputNombre" class="form-label">Nombre:</label>
                            <input type="text" id="inputNombre" class="form-control" autocomplete="off"
                                placeholder="Ingrese el nombre de la categoría" name="nombre" #nombre="ngModel"
                                [(ngModel)]="CategoriasModelPost.nombreCategoria">
                        </div>
                        <div class="mb-3">
                            <label for="inputDescripcion" class="form-label">Descripción:</label>
                            <input type="text" id="inputDescripcion" class="form-control" autocomplete="off"
                                placeholder="Ingrese una descripción" name="descripcion" #descripcion="ngModel"
                                [(ngModel)]="CategoriasModelPost.descripcionCategoria">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-aceptar" data-bs-dismiss="modal"
                        (click)="postCategorias()">Agregar categoría</button>
                </div>
            </div>
        </div>
    </div>

    <!--Editar-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="editarCategoriasApp"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header pink-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar categoría</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bk-form">
            <form>
                <div class="mb-3">
                    <label for="editarNombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="editarNombre" name="nombre" #nombre="ngModel"
                        [(ngModel)]="CategoriasModelGetId.nombreCategoria" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="editarDescripcion" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="editarDescripcion" name="descripcion"
                        #descripcion="ngModel" [(ngModel)]="CategoriasModelGetId.descripcionCategoria"
                        autocomplete="off">
                </div>
                <button class="btn btn-aceptar" data-bs-dismiss="offcanvas" (click)="putCategorias()">Editar</button>
            </form>
        </div>
    </div>
</div>