
<div class="container">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>


    <div class="row">
        <h1>CARRITO DE COMPRAS</h1>

        <div *ngFor="let carritos of CarritosModelGet">
            <div *ngFor="let compra of carritos.compras" style="display: flex; border-top: 2px solid pink; padding-top: 15px;">
                <img *ngIf="compra.imagen" [src]="'http://localhost:3000/imagenes/' + compra.imagen" class="img-fluid">

                <div style="width: 100%;">
                    <div style="display: flex; justify-content: space-between; width: 100%;">
                        <h2>{{ compra.nombreProducto }}</h2>
                        <h2>Subtotal: {{ compra.subTotal | currency:'Q' }}</h2>

                    </div>
                    <div>
                        <p>Cantidad: {{ compra.cantidad }}</p>
                        <p>Categoría: {{ compra.descripcionCategoria[0]?.nombreCategoria }}</p>
                        <p>Sucursal: {{ compra.datosSucursal[0]?.nombreSucursal }}</p>
                        <p>Precio unitario: {{ compra.precio | currency:'Q' }}</p>
                    </div>
                </div>
            </div>
            <div class="text-end total-container">
                <h2>Total: {{ carritos.total | currency:'Q' }}</h2>
                <button type="button" class="btn btn-aceptar" [routerLink]="['/cliente/pedidos', carritos._id]"><i class="bi bi-credit-card"> Generar pedido</i></button>
            </div>



        </div>

    </div>
</div>
