.body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    background: #df8653;
    color: white;
    padding: 20px;
    box-shadow: black 1px 1px 1px 1px;
    text-align: center;
}

.toc {
    background: #f4f4f4;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.toc h2 {
    margin-top: 0;
}

.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc ul li {
    margin: 5px 0;
}

.toc a {
    text-decoration: none;
    color: #35424a;
    transition: color 0.3s;
}

.toc a:hover {
    color: #df8653;
}

.content {
    margin-top: 20px;
}

.section {
    margin-bottom: 30px;
    background: #f9f9f9;
    padding: 15px;
    border-left: 5px solid #df8653;
    border-radius: 5px;
}

.section h2 {
    color: #35424a;
    margin-top: 0;
}

.responsive-image {
    max-width: 100%; /* La imagen no superará el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

@media (max-width: 600px) {
    .contenedor {
        width: 95%;
    }
    
    header h1 {
        font-size: 1.5em;
    }

    .toc h2, .section h2 {
        font-size: 1.2em;
    }
}