<a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/editarrolcajero" routerLinkActive="active" >Editar perfil</a>
<br>
<br>
<div class="container">
  <div class="row text-center">
      <article class="col-12 col-md-4 mb-4">
          <div class="card m-auto" style="width: 20rem;">
              <img src="../../../assets/img/historial-pedidos.png" width="7px" class="card-img-top mt-2" id="iconos">
              <div class="card-body">
              <h5 class="card-title">Historial de pedidos</h5>
              <p class="card-text text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ea aliquid accusantium sit exercitationem mollitia nulla corporis nostrum maiores dolorum, magni blanditiis asperiores accusamus </p>
              <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/historialpedidoscajero" routerLinkActive="active" >Ver historial de los pedidos</a>
              </div>
          </div>
      </article>

      <article class="col-12 col-md-4 mb-4">
        <div class="card m-auto" style="width: 20rem;">
            <img src="../../../assets/img/repartidor.png" class="card-img-top mt-2" id="iconoRepartidor">
            <div class="card-body">
            <h5 class="card-title">Pedidos a repartidores</h5>
            <p class="card-text text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ea aliquid accusantium sit exercitationem mollitia nulla corporis nostrum maiores dolorum, magni blanditiis asperiores accusamus </p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/historialpedidoscajero" routerLinkActive="active" >Asignar pedidos</a>
            </div>
        </div>
    </article>

  </div>
</div>
