<br>
<br>
<div class="container">
  <div class="row text-center">

    <article class="col-12 col-md-4 mb-4">
      <div class="card m-auto" style="width: 20rem;">
          <img src="../../../assets/img/pasteleria.png" class="card-img-top mt-2" id="iconoRepartidor">
          <div class="card-body">
          <h5 class="card-title">Administrar pedidos de sucursal</h5>
          <p class="card-text text-start">Revisa pedidos de los clientes y asigna un repartidor para el envio.</p>
          <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/cajero/rolcajeroversucursales" routerLinkActive="active" >Administrar</a>
          </div>
      </div>
  </article>
  </div>
</div>
