<!--CATEGORIAS-->
<div class="container">

  <h1 class="text-center mt-3">Categorias</h1>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let categorias of categoriasModelGet">
      <div class="card text-center mb-3">
        <div class="">
          <div class="aspect-ratio">
            <img *ngIf="categorias.imagen" [src]="'http://localhost:3000/imagenes/' + categorias.imagen">
          </div>
          {{ categorias.nombreCategoria }}
          <h2>{{ categorias.nombreCategoria }}</h2>
          <h5 class="card-title"> Marca: {{ categorias.descripcionCategoria }} </h5>
          <button type="button" class="btn mb-3 text-white" style="background-color: #e67e22;">
            Ver Productos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--PRODUCTOS-->
<div class="container">

  <h1 class="text-center mt-3">Productos</h1>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let productos of productosModelGet">
      <div class="card text-center mb-3">
        <div class="">
          <div class="aspect-ratio">
            <img *ngIf="productos.imagen" [src]="'http://localhost:3000/imagenes/' + productos.imagen">
          </div>
          <h2>{{ productos.nombreProducto }}</h2>
          <h5> Descripción {{ productos.descripcion }} </h5>
          <h5> Marca {{ productos.marca }} </h5>
          <h5> Categoría {{ productos.descripcionCategoria[0].nombreCategoria }} </h5>
          <h5> {{ productos.precio | currency:'Q' }} </h5>
          <button type="button" class="btn mb-3 text-white" style="background-color: #e67e22;">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SUCURSALES-->
<div class="container">

  <h1 class="text-center mt-3">Sucursales</h1>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let sucursales of sucursalesModelGet">
      <div class="card text-center mb-3">
        <div class="">
          <div class="aspect-ratio">
            <img *ngIf="sucursales.imagen" [src]="'http://localhost:3000/imagenes/' + sucursales.imagen">
          </div>
          <h2>{{ sucursales.nombreSucursal }}</h2>
          <h5> Télefono: {{ sucursales.telefonoSucursal }} </h5>
          <h5> Dirección: {{ sucursales.direccionSucursal }} </h5>
          <button type="button" class="btn mb-3 text-white" style="background-color: #e67e22;">
            Ver Categorías
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--EMPRESA-->
<div class="container" *ngFor="let empresas of empresaModelGet">

  <h1 class="text-center mt-3">Sobre la Empresa</h1>

  <h2 class="text-center">{{ empresas.nombreEmpresa }}</h2>

  <div class="row">

    <div class="col-12 col-md-4" >
      <div class="card text-center mb-3">
        <div class="m-4">
          <h2>MISIÓN</h2>
          <p> {{ empresas.mision }} </p>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4" >
      <div class="card text-center mb-3">
        <div class="m-4">
          <h2>VISIÓN</h2>
          <p> {{ empresas.vision }} </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4" >
      <div class="card text-center mb-3">
        <div class="m-4">
          <h2>HISTORIA</h2>
          <p> {{ empresas.historia }} </p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <h3>Télefono: {{ empresas.telefono }}</h3>
      <h3>Dirección: {{ empresas.direccion }}</h3>
    </div>

  </div>

</div>
