* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: black;
  }
  
  /* skeleton */
  .loading-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
  }
  .espacio-info {
    margin: 10px;
    border-radius: 5px;
  }
  
  .skeleton-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 70%;
  }
  
  .skeleton-card {
    background-color: #e0e0e0;
    height: 150px;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #e0e0e0;
    }
  }
  
  /* FIN DE LAS ANIMACIONES */
  
  
  .imagen-inicio {
    background-image: url('../../../assets/img/pastelChocolate.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
    max-height: 200%;
    margin-top: 60px;
  }
  
  .imagen-inicio h2 {
    position: absolute;
    color: #fff;
    top: 30vh;
    left: 15vh;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
    transition: height 0.3s ease;
    z-index: 1000;
  }
  
  .navbar-brand {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    border-radius: 15px;
    margin-right: 10px;
    width: 80px;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle::after {
    content: '▼';
    font-size: 0.7em;
    margin-left: 5px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
  }
  
  .dropdown-menu li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #C75B7A;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #a94b66;
  }
  
  .navbar-toggler {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
  }
  
  .offcanvas {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  }
  
  .offcanvas.show {
    right: 0;
  }
  
  .offcanvas-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
  }
  
  .offcanvas-title {
    font-size: 1.25rem;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .offcanvas-body {
    padding: 15px;
  }
  
  /* carrito */
  
  .cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .cart-slider {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 1001;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding-top: 100px; /* Para que no se superponga con el header scrolleado */
  }
  
  .cart-slider.show {
    right: 0;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .quantity-control button {
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    cursor: pointer;
  }
  
  
  
  .quantity-control input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid #ced4da;
    border-left: none;
    border-right: none;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9ecef;
    padding-top: 15px;
    margin-top: 15px;
  }
  
  #checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #C75B7A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;
    border-radius: 5px;
    flex: 1;
  }
  
  .product-card-container {
    perspective: 1000px;
    width: 100%;
    height: auto;
  }
  
  .product-card-container:hover .product-card {
    transform: rotateY(180deg); 
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: 40px;
    margin-top: 20px;
  }
  
  .product-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }
  .product-card-categorias {
    transition: 0.5s;
    border: #333 solid 1px;
    /* border-style: groove; */
    text-align: center;
    border-radius: 5px;
  }
  
  .product-card.flipped {
    transform: rotateY(180deg);
  }
  
  /* Parte delantera de la tarjeta */
  .product-front, .product-back {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .product-front {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Parte trasera de la tarjeta */
  .product-back {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-card img, .product-card-categorias img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-card button, .product-card-categorias button {
    background-color: #921A40;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .product-card button:hover ,.product-card-categorias button:hover{
    background-color: #7a1335;
  }
  
  @media (max-width: 1023px) {
    .product-card button:active, .product-card-categorias button:active {
      transform: scale(1.1);
    }
  }
  
  @media (min-width: 1024px) {
    .product-card:hover, .product-card-categorias:hover{
      transform: scale(1.04);
      box-shadow: #333 1px 1px 10px;
    }
  
    .product-card:hover button, .product-card-categorias:hover button{
      background-color: #C75B7A;
      color: black;
    }
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .cart-item-info {
    display: flex;
    align-items: center;
  }
  
  .cart-item-details {
    margin-left: 10px;
  }
  
  .cart-item-controls {
    display: flex;
    align-items: center;
  }
  
  /* animacion carrito */
  @keyframes addToCartAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);  }
    100% { transform: scale(1); }
  }
  
  .remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* Estilos para el Footer */
  .footer {
    background-color: #F4D9D0;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    border-radius: 15px;
    max-width: 100px;
    height: auto;
  }
  
  .footer h6 {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer a {
    color: black;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-icons a {
    font-size: 1.5rem;
  }
  
  /* Animación para agregar al carrito */
  @keyframes addToCartAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);  }
    100% { transform: scale(1); }
  }
  
  .add-to-cart-animation {
    animation: addToCartAnimation 0.5s ease;
  }
  
  /* Animación para el botón de búsqueda */
  .search-input:focus + .search-button {
    background-color: #a94b66;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      min-height: 200px;
      flex-wrap: wrap;
    }
    .imagen-inicio {
      margin-top: 140px;
      background-position: center;
    }
  
    .main-nav {
      order: 3;
      width: 100%;
    }
  
    .menu-toggle {
      display: block;
      position: fixed;
      top: 155px;
      left: 10px;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      right: -100%;
      width: 250px;
      height: 100vh;
      background-color: #f8f9fa;
      flex-direction: column;
      padding: 50px 20px;
      transition: right 0.3s ease-in-out;
    }
  
    .nav-list.show {
      right: 0;
    }
  
    .dropdown-menu {
      position: static;
      box-shadow: none;
      display: none;
    }
  
    .dropdown.active .dropdown-menu {
      display: block;
    }
  
    .search-container {
      order: 2;
      width: 100%;
      margin-top: 10px;
    }
  
    .search-input {
      width: 30%;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      width: 100%;
      text-align: center;
    }
  }
  