<br>
<br>
<div class="container">
  <div class="row text-center">

    <h2 class="text-center" style="color: #f39c12; border:#f39c12 ;">Tareas del facturador</h2>


    <article class="col-12 col-md-4 mb-4">
      <div class="card m-auto" style="width: 20rem;">
        <img src="https://static.vecteezy.com/system/resources/previews/008/744/607/non_2x/hand-holding-cash-receipt-color-icon-paper-check-bill-isolated-illustration-vector.jpg" class="card-img-top mt-2" id="iconoRepartidor">
        <div class="card-body">
          <h5 class="card-title">Facturas efectivo</h5>
          <p class="card-text text-start">Ver facturas generadas por el cajero</p>
          <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/facturador/rolfacturadorverfacturasefectivo" routerLinkActive="active" >Ver facturas</a>



          </div>
      </div>
  </article>


  <article class="col-12 col-md-4 mb-4">
    <div class="card m-auto" style="width: 20rem;">
      <img src="https://img2.freepnges.com/20180403/brw/kisspng-cash-register-computer-icons-money-point-of-sale-s-warehouse-5ac35bb0b61d94.263287661522752432746.jpg" class="card-img-top mt-2" id="iconoRepartidor">
      <div class="card-body">
        <h5 class="card-title">Ver caja</h5>
        <p class="card-text text-start">Ver historial de la caja</p>
        <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/facturador/rolfacturadorvercaja" routerLinkActive="active" >Ver caja</a>
        </div>
    </div>
  </article>






</div>
