<div class="container">
    <div class="row text-center">
        <article class="col-12 col-md-4 mb-4">
            <div class="card m-auto" style="width: 20rem;">
                <img src="../../../assets/img/empresas.png" class="card-img-top" id="iconos">
                <div class="card-body">
                <h5 class="card-title">Administrar productos y categorias</h5>
                <p class="card-text text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ea aliquid accusantium sit exercitationem mollitia nulla corporis nostrum maiores dolorum, magni blanditiis asperiores accusamus </p>
                <a href="#" class="btn" style="background-color: #A64D79; color: white;" routerLink="/rolclientesucursales" routerLinkActive="active" >Ver Sucursales</a>
                </div>
            </div>
        </article>
    </div>
</div>