<a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/editarrolcliente" routerLinkActive="active" >Editar perfil</a>
<br>
<br>
<div class="container">
    <div class="row text-center">
        <article class="col-12 col-md-4 mb-4">
            <div class="card m-auto" style="width: 20rem;">
                <img src="../../../assets/img/pasteleria.png" class="card-img-top" id="iconos">
                <div class="card-body">
                <h5 class="card-title" style="color: #f39c12; border:#f39c12 ;">Sucursales</h5>
                <p class="card-text text-start">Revisa la sucursal que prefieras y conoce sus productos</p>
                <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/rolclientesucursales" routerLinkActive="active" >Ver Sucursales</a>
                </div>
            </div>
        </article>
        <article class="col-12 col-md-4 mb-4">
            <div class="card m-auto" style="width: 20rem;">
                <img src="../../../assets/img/historial-pedidos.png" class="card-img-top" id="iconos">
                <div class="card-body">
                <h5 class="card-title" style="color: #f39c12; border:#f39c12 ;">Pedidos</h5>
                <p class="card-text text-start">Puedes revisar el estado de tus pedidos y generar la factura</p>
                <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/verpedidoscliente" routerLinkActive="active" >Ver historial de mis pedidos</a>
                </div>
            </div>
        </article>
    </div>
</div>
