<nav class="navbar navbar-expand-lg" id="menu">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="logo-container">
      <img src="../../../assets/img/logo_empresa3.jpg" alt="Logo" class="logo">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vistarolgestor" routerLinkActive="active">Gestor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vistaroladmin" routerLinkActive="active">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vistarolcliente" routerLinkActive="active">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vistarolfacturador" routerLinkActive="active">Facturador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vistarolcajero" routerLinkActive="active">Cajero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vistarolrepartidor" routerLinkActive="active">Repartidor</a>
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="_usuarioService.obtenerIdentidad()">
          <a class="nav-link disabled">{{_usuarioService.obtenerIdentidad().nombre}}</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <a class="nav-link me-3 " routerLink="/rolclientecarrito" routerLinkActive="active"><i class="bi bi-cart4"></i></a>
      <a class="navbar-brand" (click)="clearToken()" routerLink="/login" routerLinkActive="active">Cerrar sesión</a>
    </div>
  </div>
</nav>
