/* Fuente del Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

a {
  color: black;
}

#menu {
  background-color: #f7f7f7;
  border-color: #c75b7a;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: relative;
  top: 0px;
  z-index: 1;
  box-shadow: 1px 1px 20px -10px ;
}

.logo {
  max-height: 70px;
  border-radius: 10px;
  margin: auto;
}

#menu .navbar-brand,
#menu .nav-link {
  color: #eb984e;
}

#menu .nav-link:hover,
#menu .navbar-brand:hover {
  color: #b96e2d;
}

.navbar-toggler-icon {
  background-image: url('https://cdn-icons-png.freepik.com/512/10061/10061428.png');
}

.bi-cart4 {
  font-size: 25px;
}

/* Asegurar que el menú hamburguesa, carrito y cerrar sesión sean visibles en la capa superior */
.d-flex,
.navbar-toggler {
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  /* Vista móvil */
  .logo-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar-toggler {
    order: 2;
  }

  .navbar-toggler-icon {
    color: #d45555;
  }

  #navbarSupportedContent {
    text-align: left;
  }

  /* Carrito a la izquierda, logo a la derecha en móvil */
  .d-flex {
    order: 1;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-collapse {
    position: absolute;
    top: 70px; /* Asegura que el menú se despliegue desde justo debajo del navbar */
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    z-index: 1;
  }

  /* Asegura que el botón de menú, el carrito y cerrar sesión permanezcan visibles cuando el menú se despliegue */
  .d-flex,
  .navbar-toggler {
    z-index: 3;
  }
}
