<a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/editarrolcajero" routerLinkActive="active" >Editar perfil</a>
<br>
<br>
<div class="container">
  <div class="row text-center">
      <article class="col-12 col-md-4 mb-4">
          <div class="card m-auto" style="width: 20rem;">
              <img src="../../../assets/img/historial-pedidos.png" width="7px" class="card-img-top mt-2" id="iconos">
              <div class="card-body">
              <h5 class="card-title">Pedidos pendientes</h5>
              <p class="card-text text-start">Ver pedidos confirmados que se hicieron clientes con credito y efectivo </p>
              <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/rolcajeropedidospendientes" routerLinkActive="active" >Ver historial de los pedidos</a>
              </div>
          </div>
      </article>


      <article class="col-12 col-md-4 mb-4">
        <div class="card m-auto" style="width: 20rem;">
            <img src="../../../assets/img/historial-pedidos.png" width="7px" class="card-img-top mt-2" id="iconos">
            <div class="card-body">
            <h5 class="card-title">Pedidos confirmados</h5>
            <p class="card-text text-start">Ver pedidos confirmados que hicieron los clientes con crédito y efectivo </p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/rolcajeropedidosconfirmados" routerLinkActive="active" >Ver historial de los pedidos</a>
            </div>
        </div>
    </article>


    <article class="col-12 col-md-4 mb-4">
      <div class="card m-auto" style="width: 20rem;">
        <img src="../../../assets/img/repartidor.png" class="card-img-top mt-2" id="iconoRepartidor">
        <div class="card-body">
          <h5 class="card-title">Repartidores</h5>
          <p class="card-text text-start">Administrar repartidores, asignar pedidos y confirmar entrega</p>
          <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/rolcajerorepartidores" routerLinkActive="active" >Ver repartidores</a>
          </div>
      </div>
  </article>



</div>

