<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Administrador</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
</head>

<body>

  <header class="container-fluid mt-2">
    <div class="row align-items-center">

      <div class="col-12 col-md-4 mb-3 d-flex justify-content-center order-3 order-md-2">
        <h1 style="color: #f0b27a; border: #f0b27a;">Administrador de la Pasteleria</h1>
      </div>

    </div>
  </header>
  <hr>
  <main class="container">
    <div class="row text-center">
      <article class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card m-auto" style="width: 20rem;">
          <img src="../../../assets/img/usuarios.webp" width="7px" class="card-img-top mt-2" id="iconos">
          <div class="card-body">
            <h5 class="card-title">Administrar Usuarios</h5>
            <p class="card-text text-start">Crea o edita usuarios y asignales un rol acorde a sus funciones.</p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;"
              routerLink="/admin/roladminusuarios" routerLinkActive="active">Administrar</a>
          </div>
        </div>
      </article>
      <article class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card m-auto" style="width: 20rem;">
          <img src="../../../assets/img/pasteleria.png" class="card-img-top" id="iconos">
          <div class="card-body">
            <h5 class="card-title">Administrar Empresas</h5>
            <p class="card-text text-start">Crea una empresa y asignale sucursales en distintas ubicaciones.</p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;"
              routerLink="/admin/roladminempresas" routerLinkActive="active">Administrar</a>
          </div>
        </div>
      </article>
      <article class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card m-auto" style="width: 20rem;">
          <img src="../../../assets/img/productos.png" class="card-img-top" id="iconos">
          <div class="card-body">
            <h5 class="card-title">Administrar categorias</h5>
            <p class="card-text text-start">Crea categorias para todas las sucursales.</p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;"
              routerLink="/admin/roladmincategoriasyproductos" routerLinkActive="active">Administrar</a>
          </div>
        </div>
      </article>



      <article class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card m-auto" style="width: 20rem;">
          <img src="https://img2.freepnges.com/20180403/brw/kisspng-cash-register-computer-icons-money-point-of-sale-s-warehouse-5ac35bb0b61d94.263287661522752432746.jpg" class="card-img-top" id="iconos">
          <div class="card-body">
            <h5 class="card-title">Agregar Caja</h5>
            <p class="card-text text-start">Agregar caja con efectivo a sucursales</p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;"
              routerLink="/admin/roladminagregarcaja" routerLinkActive="active">Administrar</a>
          </div>
        </div>
      </article>

      <article class="col-12 col-md-6 col-lg-4 mb-4">

        <div class="card m-auto" style="width: 20rem;">
          <img src="https://cdn-icons-png.freepik.com/512/10000/10000766.png" class="card-img-top" id="iconos">
          <div class="card-body">
            <h5 class="card-title" style="color: #f39c12; border:#f39c12 ;">MANUAL DE ADMINISTRADOR</h5>
            <p class="card-text text-start">Necesita ayuda
            </p>
            <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/admin/manualadmin"
              routerLinkActive="active">Manual</a>
          </div>
        </div>
      </article>

    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>
