<br>
<br>
<div class="container">
  <div class="row text-center">




    <article class="col-12 col-md-4 mb-4">
      <div class="card m-auto" style="width: 20rem;">
          <img src="https://cdn-icons-png.flaticon.com/512/6384/6384768.png" width="7px" class="card-img-top mt-2" id="iconos">
          <div class="card-body">
          <h5 class="card-title">Pedidos asignado</h5>
          <p class="card-text text-start">Ver pedidos asignados por el cajero</p>
          <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/cajero/rolcajeroefetivopedidosconfirmados" routerLinkActive="active" >Ver </a>
          </div>
      </div>
  </article>




  </div>
  </div>
