<br>
<br>
<div class="container">
    <div class="row text-center">
        <article class="col-12 col-md-4 mb-4">
            <div class="card m-auto" style="width: 20rem;">
                <img src="../../../assets/img/pasteleria.png" class="card-img-top mt-2" id="iconoRepartidor">
                <div class="card-body">
                    <h5 class="card-title">Sucursal</h5>
                    <p class="card-text text-start">Revisa la sucursal a la que perteneces y accede a las facturas</p>
                    <a href="#" class="btn" style="background-color: #e67e22; color: white;" routerLink="/facturador/rolfacturadorversucursales" routerLinkActive="active" >Ver mi sucursal</a>
                </div>
            </div>
        </article>
    </div>
</div>
