<div class="container">
  <img src="../../../assets/img/flecha-izquierda.png" routerLink="/cajero/vistarolcajero" routerLinkActive="active"
    alt="retroceder" width="50px" class="mt-3">
  <h1 class="text-center mt-3" style="color: #f39c12; border:#f39c12 ;">Pedido asignado</h1>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let pedidos of PedidoModelGet">
      <div class="card text-center mb-3">
        <div class="card-header pink-header text-black">
          No Orden: {{pedidos.numeroDeOrden}}
        </div>
        <div class="card-body">
          <div class="contenido">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="text-center">INFORMACIÓN DEL CLIENTE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nombre</td>
                  <td>{{pedidos.datosUsuario[0].nombre}}</td>
                </tr>
                <tr>
                  <td>Apellido</td>
                  <td>{{pedidos.datosUsuario[0].apellido}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{pedidos.datosUsuario[0].email}}</td>
                </tr>
                <tr>
                  <td>Telefono</td>
                  <td>{{pedidos.datosUsuario[0].telefono}}</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th colspan="4" class="text-center">PRODUCTOS</th>
                </tr>
                <tr>
                  <th>Articulo</th>
                  <th>Precio</th>
                  <th>Cant.</th>
                  <th>SubTotal</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let producto of pedidos.compras">
                  <td>{{ producto.nombreProducto }}</td>
                  <td>{{ producto.precio | currency:'Q' }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>{{ producto.subTotal | currency:'Q' }}</td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="text-center">DATOS DEL PEDIDO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fecha</td>
                  <td>{{pedidos.fecha}}</td>
                </tr>
                <tr>
                  <td>Tiempo estimado</td>
                  <td>{{pedidos.tiempoEstimado}}</td>
                </tr>
                <tr>
                  <td>Tipo de pago</td>
                  <td>{{pedidos.tipoPago}}</td>
                </tr>
                <tr>
                  <td>Estado del pedido</td>
                  <td>{{pedidos.estadoPedido}}</td>
                </tr>
                <tr>
                  <td>Dirección envio</td>
                  <td>{{pedidos.direccionEnvio}}</td>
                </tr>
                <tr>
                  <td>Departamento</td>
                  <td>{{pedidos.departamentoPedido}}</td>
                </tr>
                <tr>
                  <td>Municipio</td>
                  <td>{{pedidos.municipioPedido}}</td>
                </tr>
                <tr>
                  <td>Hora de entrega</td>
                  <td>{{pedidos.horaEntrega}}</td>
                </tr>
                <tr>
                  <td>Método de envío</td>
                  <td>{{pedidos.metodoEnvio}}</td>
                </tr>
                <tr>
                  <td>Estado de la orden</td>
                  <td>{{pedidos.estadoOrden}}</td>
                </tr>
                <tr>
                  <td>Hora repartidor asignado</td>
                  <td>{{pedidos.horaRepartidorAsignado}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>{{pedidos.total | currency:'Q'}}</td>
                </tr>
                <tr>
                  <td>Efectivo cliente</td>
                  <td>{{pedidos.pagoEfectivo[0]?.efectivoCliente | currency:'Q'}}</td>
                </tr>
                <tr>
                  <td>Cambio cliente</td>
                  <td>{{pedidos.pagoEfectivo[0]?.cambioCliente | currency:'Q'}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <button class="btn btn-agregar-usuario rounded-pill" type="button" title="Agregar usuario"
            data-bs-toggle="modal" data-bs-target="#modalEditarPedido" (click)="getPedidoId(pedidos._id)"
            *ngIf="pedidos.tipoPago === 'Tarjeta de crédito'">
            Confirmar Pedido Crédito
          </button>

          <button class="btn btn-agregar-usuario rounded-pill" type="button" title="Agregar usuario"
            data-bs-toggle="modal" data-bs-target="#modalConfirmarPedido" (click)="getPedidoId(pedidos._id)"
            *ngIf="pedidos.tipoPago === 'Efectivo'">
            Confirmar Pedido Efectivo
          </button>


        </div>
      </div>
    </div>
  </div>
</div>




<!--Editar -->
<div class="modal fade" id="modalEditarPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  #modal>
  <div class="modal-dialog">
    <div class="modal-content bk-form">
      <div class="modal-header pink-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar pedido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNumeroOrden" class="form-label">Escriba el número de orden:</label>
            <input type="number" class="form-control" id="inputNumeroOrden" name="numeroDeOrden"
              [(ngModel)]="PedidoModelPost.numeroDeOrden" autocomplete="off" readonly>
          </div>

          <div class="mb-3">
            <label for="inputSucursal" class="form-label">Nombre de sucursal:</label>
            <input type="text" class="form-control" id="inputSucursal" name="nombreSucursal"
              [(ngModel)]="SucursalModelPost.nombreSucursal" autocomplete="off" readonly>
          </div>

          <div class="text-center">
            <button type="button" class="rounded-pill m-auto" (click)="postConfirmarPedidoCredito()">
              Confirmar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!-- AGREGAR CREDITO 1 -->
<div class="modal fade" id="modalConfirmarPedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  #modal>
  <div class="modal-dialog">
    <div class="modal-content bk-form">
      <div class="modal-header pink-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar pedido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>


          <div class="mb-3">
            <label for="inputNumeroOrden" class="form-label">Escriba el número de orden:</label>
            <input type="number" class="form-control" id="inputNumeroOrden" name="numeroDeOrden"
              #numeroDeOrden="ngModel" [(ngModel)]="PedidoModelPost.numeroDeOrden" autocomplete="off">
          </div>




          <div class="mb-3">
            <label for="inputSucursal" class="form-label">Nombre de sucursal:</label>
            <input type="text" class="form-control" id="inputSucursal" name="nombreSucursal" #nombreSucursal="ngModel"
              [(ngModel)]="SucursalModelPost.nombreSucursal" autocomplete="off">
          </div>


          <div class="mb-3">
            <label for="inputtotalPedidosEfectivo" class="form-label">Total pedidos efectivo:</label>
            <input type="number" class="form-control" id="inputtotalPedidosEfectivo" name="totalPedidosEfectivo"
              #totalPedidosEfectivo="ngModel" [(ngModel)]="CajaModelPost.totalPedidosEfectivo" autocomplete="off">
          </div>


          <div class="text-center">
            <button type="button" class="rounded-pill m-auto" (click)="postConfimarPedidoGeneradoEfectivo()">
              Confirmar
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
