<head>
  <link rel="stylesheet" href="pedidos.component.scss">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
  <div class="form-container">
    <h2 class="text-center">Pedido</h2>
    <form>


      <div class="mb-3">
        <label for="inputTipoPago" class="form-label">Tipo Pago:</label>
        <input type="text" class="form-control" id="inputTipoPago" name="tipoPago" #tipoPago="ngModel" [(ngModel)]="PedidoModelPost.tipoPago"
         autocomplete="off">
      </div>



      <div class="mb-3">
        <label for="inputDireccionEnvio" class="form-label">Direccion Envio:</label>
        <input type="text" class="form-control" id="inputDireccionEnvio" name="direccionEnvio" #direccionEnvio="ngModel" [(ngModel)]="PedidoModelPost.direccionEnvio"
         autocomplete="off">

      </div>

      <div class="mb-3">
        <label for="inputMunicipioPedido" class="form-label">Municipio Pedido:</label>
        <input type="text" class="form-control" id="inputMunicipioPedido" name="municipioPedido" #municipioPedido="ngModel" [(ngModel)]="PedidoModelPost.municipioPedido"
         autocomplete="off">
      </div>

      <div class="text-center">
        <button type="button" class="rounded-pill m-auto" (click)="postPedido(idCarrito)">
          Generar Pedido
        </button>
      </div>
    </form>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
