<!-- <h1>{{title}}</h1> -->
<!--
<ul>
  <li *ngFor="let pers of personas">

    <ng-container *ngIf="pers.edad >=18">
{{pers.nombre}}
    </ng-container>
  </li>

  <ng-container *ngFor="let pers of personas">
    <li *ngIf="pers.edad >= 18">
      {{pers.nombre}}
    </li>

  </ng-container>
</ul>
-->

<!-- MODAL VER DATOS EN CARDS
 With supporting text below as a natural lead-in to additional content.
 <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>
-->
<!-- MODAL AGREGAR Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.
-->

<!--
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
<!--
<div class="modal fade" id="modalAgregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel"
            [(ngModel)]="productosModelPost.nombre" autocomplete="off">

          </div>
          <div class="mb-3">
            <label for="txtCantidad" class="form-label">Cantidad:</label>
            <input type="text" id="txtCantidad" name="txtCantidad" class="form-control" autocomplete="off"
              placeholder="Ingrese la cantidad" name="cantidad" #cantidad="ngModel" [(ngModel)]="productosModelPost.cantidad">
          </div>
          <div class="mb-3">
            <label for="txtPrecio" class="form-label">Precio:</label>
            <input type="number" id="txtPrecio" name="txtPrecio" class="form-control" autocomplete="off"
              placeholder="Ingrese el precio del producto" name="precio" #precio="ngModel" [(ngModel)]="productosModelPost.precio">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postProductos()">Agregar</button>
      </div>
    </div>
  </div>
</div>
-->