<div class="container">
  <img src="../../../assets/img/flecha-izquierda.png" routerLink="/rolclientesucursales" routerLinkActive="active"
    alt="retroceder" width="50px" class="mt-3">
  <h1 class="text-center mt-3" style="color: #f39c12; border:#f39c12 ;">Productos</h1>

  <!-- Campo de búsqueda -->

  <div class="input-group mb-3">
    <input type="text" class="form-control" autocomplete="off" [(ngModel)]="buscar" name="buscar"
      placeholder="Ingrese el nombre del producto" aria-label="Ingrese el nombre del producto"
      aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
  </div>

  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let productos of ProductosModelGet | buscarproducto: buscar : campoBusqueda">
      <div class="card text-center mb-3">
        <div class="card-header pink-header">
          {{ productos.nombreProducto }}
        </div>
        <div class="card-body">
          <div class="aspect-ratio">
            <img *ngIf="productos.imagen" [src]="'http://localhost:3000/imagenes/' + productos.imagen">
          </div>
          <h5 class="card-title"> Marca: {{ productos.marca }} </h5>
          <h5 class="card-title"> Descripción: {{ productos.descripcion }} </h5>
          <h5 class="card-title"> Precio: {{ productos.precio }} </h5>
          <h5 class="card-title"> Categoria: {{ productos.descripcionCategoria[0].nombreCategoria }}</h5>
          <h5 class="card-title"> Stock: {{ productos.stock }} </h5>

          <button type="button" class="btn btn-aceptar" data-bs-toggle="offcanvas" data-bs-target="#editarProductosApp"
            aria-controls="offcanvasExample" (click)="getProductoid(productos._id)">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Editar-->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="editarProductosApp" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header pink-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Agregar producto al carrito</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bk-form">
      <form>
        <div class="mb-3">
          <label for="editarNombre" class="form-label">Nombre producto</label>
          <input type="text" class="form-control" id="editarNombre" name="nombre"
            [(ngModel)]="ProductosModelGetId.nombreProducto" autocomplete="off" disabled>
        </div>

        <div class="mb-3">
          <label for="inputCantidad" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="inputCantidad" name="cantidad"
              [(ngModel)]="CarritoModelPost.compras[0].cantidad" min="0" required autocomplete="off"
              (input)="validarCantidad($event)">
      </div>

        <button class="btn btn-aceptar" data-bs-dismiss="offcanvas"
          (click)="agregarAlCarrito($event, ProductosModelGetId._id, CarritoModelPost.compras[0].cantidad)">Agregar al
          carrito
        </button>

      </form>
    </div>
  </div>
</div>
