.factura {
  border-radius: 10px;
  width: 500px;
}

.contenido {
  margin: 20px;
  padding: 25px 75px;
}

.contenido header {
  text-align: center;
}

.bordes {
  display: flex;
  justify-content: space-around;
}