<div class="body">

    <head>
        <link rel="stylesheet" href="manualcajero.component.scss">
    </head>

    <body>
        <header class="">
            <div>
                <h1>Manual de Uso</h1>
            </div>
        </header>
        <div class="container my-5">
            <div class="toc text-center">
                <h2>Índice</h2>
                <ul id="toc-list"></ul>
            </div>

            <div class="content">
                <div class="section" id="pedidos-pendientes">
                    <h2>1. Pedidos Pendientes</h2>
                    <p>En esta sección se muestran los pedidos confirmados realizados por los clientes que han seleccionado como método de pago crédito o efectivo.</p>
                    <img src="../../../assets/img/manualcajero/img-1.jpg" alt="" class="responsive-image">
                </div>
                
                <div class="section" id="pedidos-credito">
                    <h2>2. Pedidos Confirmados con Tarjeta de Crédito</h2>
                    <p>Permite visualizar los pedidos confirmados que han sido pagados por los clientes utilizando tarjeta de crédito.</p>
                    <img src="../../../assets/img/manualcajero/img-2.jpg" alt="" class="responsive-image">
                    <img src="../../../assets/img/manualcajero/img-3.jpg" alt="" class="responsive-image">
                </div>
                
                <div class="section" id="pedidos-efectivo">
                    <h2>3. Pedidos Confirmados con Efectivo</h2>
                    <p>Esta opción permite ver los pedidos confirmados que han sido pagados en efectivo, pero cuyo pago aún no ha sido verificado.</p>
                    <img src="../../../assets/img/manualcajero/img-4.jpg" alt="" class="responsive-image">
                    <img src="../../../assets/img/manualcajero/img-5.jpg" alt="" class="responsive-image">
                </div>
                
                <div class="section" id="gestion-repartidores">
                    <h2>4. Gestión de Repartidores</h2>
                    <p>En esta sección puedes administrar los repartidores, asignarles pedidos y confirmar la entrega de los mismos.</p>
                    <img src="../../../assets/img/manualcajero/img-6.jpg" alt="" class="responsive-image">
                    <img src="../../../assets/img/manualcajero/img-7.jpg" alt="" class="responsive-image">
                </div>

                <div class="section" id="facturas-efectivo">
                    <h2>5. Historial de Facturas en Efectivo</h2>
                    <p>Aquí puedes consultar un historial completo de las facturas generadas por pagos en efectivo.</p>
                    <img src="../../../assets/img/manualcajero/img-8.jpg" alt="" class="responsive-image">
                </div>
                
                <div class="section" id="ver-caja">
                    <h2>6. Visualización de Caja</h2>
                    <p>Esta funcionalidad te permite acceder al historial de movimientos de caja de la sucursal.</p>
                    <img src="../../../assets/img/manualcajero/img-9.png" alt="" class="responsive-image">
                    <img src="../../../assets/img/manualcajero/img-10.png" alt="" class="responsive-image">
                </div>
                
            </div>

        </div>
    </body>
</div>