<div class="container mt-3">
  <div class="card w-50 mx-auto text-center">
    <div class="card-body">

      <h5 class="card-title">Editar Usuario</h5>
      <h5><i class="fa fa-user fa-4x"></i></h5>

      <form>

        <!-- Mostrar la imagen actual del usuario -->
        <img id="imagenUsuario" *ngIf="usuariosModelGetId.imagen"
             [src]="'http://localhost:3000/imagenes/' + usuariosModelGetId.imagen"
             class="img-thumbnail mb-3"
             style="max-width: 150px;">

        <!-- Selector de nueva imagen -->
        <div class="mb-3">
          <label for="inputImagen" class="form-label">Imagen:</label>
          <input type="file" class="form-control" id="inputImagen" (change)="onImageSelected($event)" accept="image/*">
        </div>

        <!-- Mostrar vista previa de la imagen seleccionada -->
        <img *ngIf="selectedImage" [src]="previewUrl" class="img-thumbnail mb-3" style="max-width: 150px;">

        <div class="mb-2">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel"
                 [(ngModel)]="usuariosModelGetId.nombre" autocomplete="off">
        </div>

        <div class="mb-2">
          <label for="inputApellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="inputApellido" name="apellido" #apellido="ngModel"
                 [(ngModel)]="usuariosModelGetId.apellido" autocomplete="off">
        </div>

        <div class="mb-2">
          <label for="inputUsuario" class="form-label">Email</label>
          <input type="text" class="form-control" id="inputUsuario" name="email" #email="ngModel"
                 [(ngModel)]="usuariosModelGetId.email" autocomplete="off">
        </div>

        <div class="mb-2">
          <label for="inputTelefono" class="form-label">Télefono</label>
          <input type="number" class="form-control" id="inputTelefono" name="telefono" #telefono="ngModel"
                 [(ngModel)]="usuariosModelGetId.telefono" autocomplete="off">
        </div>

        <div class="mb-2">
          <label for="inputDireccion" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="inputDireccion" name="direccion" #direccion="ngModel"
                 [(ngModel)]="usuariosModelGetId.direccion" autocomplete="off">
        </div>

        <div class="mb-2">
          <label for="inputDepartamento" class="form-label">Departamento</label>
          <input type="text" class="form-control" id="inputDepartamento" name="departamento" #departamento="ngModel"
                 [(ngModel)]="usuariosModelGetId.departamento" autocomplete="off">
        </div>

        <div class="mb-2">
          <label for="inputMunicipio" class="form-label">Municipio</label>
          <input type="text" class="form-control" id="inputMunicipio" name="municipio" #municipio="ngModel"
                 [(ngModel)]="usuariosModelGetId.municipio" autocomplete="off">
        </div>

        <button type="button" class="btn btn-success" (click)="putUsuarios()">Editar</button>

      </form>
    </div>
  </div>
</div>
