<div class="container">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <img src="../../../assets/img/flecha-izquierda.png" routerLink="/admin/vistaroladmin" routerLinkActive="active" alt="retroceder" width="50px" class="mt-3">

    <h2 class="text-center" style="color: #f39c12; border:#f39c12 ;">Administrar Empresas</h2>
    <button class="btn btn-agregar-usuario mt-3" title="Agregar empresa" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpresas">
      <i class="bi bi-plus-circle"></i>
    </button>
    <br>
    <br>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let empresa of EmpresaModelGet">
        <div class="card text-center mb-3">
          <div class="card-header pink-header">
            {{empresa.nombreEmpresa}}
          </div>
          <img  src="../../../assets/img/empresas.png" id="imagen-usuario">

          <div class="card-body">
            <h5 class="card-title">ID: {{empresa._id}}</h5>

            <h5 class="card-title"> Direccion: {{empresa.direccion}} </h5>

            <h5 class="card-title">  Télefono: {{empresa.telefono}}  </h5>

            <h5 class="card-title">  Misión: {{empresa.mision}}  </h5>

            <h5 class="card-title">  Visión: {{empresa.vision}}  </h5>

            <h5 class="card-title">  Historia: {{empresa.historia}}  </h5>

            <h5 class="card-title">  Id usuario: {{empresa.idUsuario}}  </h5>


            <button type="button" class="btn btn-outline-warning mx-3 my-2 w-25" data-bs-toggle="offcanvas" data-bs-target="#editarEmpresaApp"
            aria-controls="offcanvasExample" (click)="getEmpresaId(empresa._id)">
              <img src="../../../assets/img/editaricono.png" alt="" class="icono">
            </button>
            <button type="button" class="btn btn-outline-danger w-25" (click)="deleteEmpresasRolAdmin(empresa._id)">
              <img src="../../../assets/img/trash.svg" alt="" class="icono">
            </button>
            <br>
            <button type="button" class="btn btn-agregar-sucursal my-2 w-25" (click)="getEmpresaId(empresa._id)" [routerLink]="['/admin/roladminsucursales', empresa._id]">
              <i class="bi bi-building-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- AGREGAR EMPRESAS -->
    <div class="modal fade" id="modalAgregarEmpresas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
      <div class="modal-dialog">
        <div class="modal-content bk-form">
          <div class="modal-header pink-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Empresas</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="inputNombreEmpresa" class="form-label">Nombre Empresa:</label>
                  <input type="text" id="inpuNombreEmpresa" class="form-control" autocomplete="off"
                    placeholder="Ingrese el nombre de la empresa" name="nombreEmpresa" #nombreEmpresa="ngModel" [(ngModel)]="EmpresaModelPost.nombreEmpresa">
                </div>

                <div class="mb-3">
                  <label for="inputDireccion" class="form-label">Dirección Empresa:</label>
                  <input type="text" id="inputDireccion" class="form-control" autocomplete="off"
                    placeholder="Ingrese la direción" name="direccion" #direccion="ngModel" [(ngModel)]="EmpresaModelPost.direccion">
                </div>

                <div class="mb-3">
                  <label for="inputTelefono" class="form-label">Télefono Empresa:</label>
                  <input type="number" id="inputTelefono" class="form-control" autocomplete="off"
                    placeholder="Ingrese su télefono" name="telefono" #telefono="ngModel" [(ngModel)]="EmpresaModelPost.telefono">
                </div>

                <div class="mb-3">
                  <label for="inputMision" class="form-label">Misión:</label>
                  <input type="text" id="inputMision" class="form-control" autocomplete="off"
                    placeholder="Ingrese la misión" name="mision" #mision="ngModel" [(ngModel)]="EmpresaModelPost.mision">
                </div>

                <div class="mb-3">
                  <label for="inputVision" class="form-label">Visión:</label>
                  <input type="text" id="inputVision" class="form-control" autocomplete="off"
                    placeholder="Ingrese la visión" name="vision" #vision="ngModel" [(ngModel)]="EmpresaModelPost.vision">
                </div>

                <div class="mb-3">
                  <label for="inputHistoria" class="form-label">Historia:</label>
                  <input type="text" id="inputHistoria" class="form-control" autocomplete="off"
                    placeholder="Ingrese la historia" name="historia" #historia="ngModel" [(ngModel)]="EmpresaModelPost.historia">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn btn-aceptar" data-bs-dismiss="modal" (click)="postEmpresaRolAdmin()">Agregar</button>
          </div>
        </div>
      </div>
    </div>

      <!--Editar-->

      <div class="offcanvas offcanvas-start" tabindex="-1" id="editarEmpresaApp" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header pink-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bk-form">
          <form>

            <div class="mb-3">
              <label for="editarNombreEmpresa" class="form-label">Nombre Empresa</label>
              <input type="text" class="form-control" id="editarNombreEmpresa" name="nombre" #nombre="ngModel" [(ngModel)]="EmpresaModelGetId.nombreEmpresa"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="editarDireccion" class="form-label">Dirección Empresa</label>
              <input type="text" class="form-control" id="editarDireccion" name="direccion" #direccion="ngModel" [(ngModel)]="EmpresaModelGetId.direccion"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="editarTelefono" class="form-label">Télefono Empresa</label>
              <input type="text" class="form-control" id="editarTelefono" name="telefono" #telefono="ngModel" [(ngModel)]="EmpresaModelGetId.telefono"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="editarMision" class="form-label">Misión Empresa</label>
              <input type="text" class="form-control" id="editarMision" name="mision" #mision="ngModel" [(ngModel)]="EmpresaModelGetId.mision"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="editarVision" class="form-label">Visión Empresa</label>
              <input type="text" class="form-control" id="editarVision" name="vision" #vision="ngModel" [(ngModel)]="EmpresaModelGetId.vision"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="editarHistoria" class="form-label">Historia Empresa</label>
              <input type="text" class="form-control" id="editarHistoria" name="historia" #historia="ngModel" [(ngModel)]="EmpresaModelGetId.historia"
               autocomplete="off">
            </div>

            <br>
            <button class="btn btn-aceptar" data-bs-dismiss="offcanvas" (click)="putEmpresas()">Editar empresa</button>

          </form>
        </div>
      </div>
