<div class="container">
    <img src="../../../assets/img/flecha2.png" routerLink="/vistarolcliente" routerLinkActive="active" alt="retroceder" width="50px" class="mt-3">
    <h1 class="text-center mt-3">Sucursales</h1>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let sucursales of SucursalesModelGet">
            <div class="card text-center mb-3">
                <div class="card-header pink-header ">
                    {{sucursales.nombreSucursal}}
                </div>
                <div class="card-body">

                    <img src="../../../assets/img/pasteleria.png" class="card-img-top" id="iconos">

                    <h5 class="card-title"> Dirección: {{sucursales.direccionSucursal}} </h5>
                    <h5 class="card-title"> Télefono: {{sucursales.telefonoSucursal}} </h5>
                    <h5 class="card-title"> Nombre Empresa: {{sucursales.datosEmpresa[0].nombreEmpresa}}</h5>

                    <button type="button" class="btn btn-aceptar"
                        [routerLink]="['/rolclienteproductos', sucursales._id]">
                        Ver productos
                    </button>
                    <a  class="btn" style="background-color: #A64D79; color: white;" routerLink="/rolclientecategorias" routerLinkActive="active" >Ver Categorias</a>

                </div>
            </div>
        </div>
    </div>
</div>