<div class="container">
    <img src="../../../assets/img/flecha-izquierda.png" routerLink="/repartidor/vistarolrepartidor" routerLinkActive="active"
        alt="retroceder" width="50px" class="mt-3">

    <h2 class="text-center" style="color: #f39c12; border:#f39c12 ;">Mi sucursal</h2>

    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let sucursales of SucursalModelGet">
            <div class="card text-center mb-3">
                <div class="card-header pink-header">
                    {{sucursales.nombreSucursal}}
                </div>
                <div class="card-body">

                    <h5 class="card-title"> Dirección: {{sucursales.direccionSucursal}} </h5>
                    <h5 class="card-title"> Télefono: {{sucursales.telefonoSucursal}} </h5>
                    <h5 class="card-title"> Departamento: {{sucursales.telefonoSucursal}} </h5>
                    <h5 class="card-title"> Municipio: {{sucursales.telefonoSucursal}} </h5>
                    <h5 class="card-title"> Nombre de la empresa: {{ sucursales.datosEmpresa[0].nombreEmpresa }} </h5>

                </div>
            </div>
        </div>
    </div>
</div>
