<div class="container">
    <img src="../../../assets/img/flecha-izquierda.png" routerLink="/roladminempresas" routerLinkActive="active"
      alt="retroceder" width="50px" class="mt-3">
    <h1 class="text-center mt-3" style="color: #f39c12; border:#f39c12 ;">SUCURSALES DE ESTA EMPRESA</h1>

    <button class="btn btn-agregar-sucursal rounded-pill" type="button" title="Agregar usuario" data-bs-toggle="modal"
    data-bs-target="#modalAgregarSucursales">
    <i class="bi bi-person-plus"></i>
  </button>


  <br>
  <br>
    <div class="row">

      <div class="col-12 col-md-4" *ngFor="let sucursal of SucursalModelGet">
        <div class="card text-center mb-3">
          <div class="card-header pink-header fs-4 d-flex flex-column ">
            <img src="../../../assets/img/sucursal.png" alt="" width="75px" class="m-auto">
            {{sucursal.nombreSucursal}}
          </div>
          <div class="card-body">

            <h5 class="card-title">ID: {{sucursal._id}}</h5>
            <h5 class="card-title">Nombre sucursal: {{sucursal.nombreSucursal}}</h5>
            <button type="button" class="btn btn-outline-warning mx-3 my-2 w-25" data-bs-toggle="offcanvas"
                        data-bs-target="#editarSucursalesApp" aria-controls="offcanvasExample"
                        (click)="getSucursalIdRolAdmin(sucursal._id)">
                        <img src="../../../assets/img/editaricono.png" alt="" class="icono">
              </button>
              <button type="button" class="btn btn-outline-danger w-25" (click)="deleteSucursalesRolAdmin(sucursal._id)">
                <img src="../../../assets/img/trash.svg" alt="" class="icono">
              </button>


          </div>
        </div>
      </div>
    </div>


  <!--Agregar-->
  <div class="modal fade" id="modalAgregarSucursales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
    <div class="modal-dialog">
      <div class="modal-content bk-form">
        <div class="modal-header pink-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nueva Sucursal</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>

            <div class="mb-3">
              <label for="inputNombreSucursal" class="form-label">Nombre:</label>
              <input type="text" class="form-control" id="inputNombreSucursal" name="nombre" #nombre="ngModel" [(ngModel)]="SucursalModelPost.nombreSucursal"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="inputDireccion" class="form-label">Direccion:</label>
              <input type="text" class="form-control" id="inputDireccion" name="direccion" #direccion="ngModel" [(ngModel)]="SucursalModelPost.direccionSucursal"
               autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="inputTelefono" class="form-label">Télefono:</label>
              <input type="number" class="form-control" id="inputTelefono" name="telefono" #telefono="ngModel" [(ngModel)]="SucursalModelPost.telefonoSucursal"
               autocomplete="off">
            </div>
            <div class="mb-3 pt-4">
              <label for="inputDepartamento" class="form-label"><i class="fas fa-user"></i>Departamento:</label>
              <select class="form-select" aria-label="Default select example" id="inputDepartamento" name="departamento"
                  #departamento="ngModel" [(ngModel)]="SucursalModelPost.departamento" (change)="actualizarMunicipio(departamento.value)" required>
                  <option *ngFor="let clasificacion of clasificacion" [value]="clasificacion.tipo">{{clasificacion.tipo}}</option>
              </select>
            </div>
            <div class="mb-3 pt-4">
              <label for="inputMunicipio" class="form-label"><i class="fas fa-user"></i>Municipio:</label>
              <select class="form-select" aria-label="Municipio select" id="inputMunicipio" name="municipio"
                  #municipio="ngModel" [(ngModel)]="SucursalModelPost.municipio" required>
                  <option *ngFor="let numero of municipios" [value]="numero">{{numero}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-aceptar" data-bs-dismiss="modal" (click)="postSucursal(idEmpresa)">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Editar-->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="editarSucursalesApp" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header pink-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar sucursal</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bk-form">
      <form>

        <div class="mb-3">
          <label for="editarNombreSucursal" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="editarNombreSucursal" name="nombre" #nombre="ngModel" [(ngModel)]="SucursalModelGetId.nombreSucursal"
           autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="editarDireccion" class="form-label">Direccion:</label>
          <input type="text" class="form-control" id="editarDireccion" name="direccion" #direccion="ngModel" [(ngModel)]="SucursalModelGetId.direccionSucursal"
           autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="editarTelefono" class="form-label">Télefono</label>
          <input type="number" class="form-control" id="editarTelefono" name="telefono" #telefono="ngModel" [(ngModel)]="SucursalModelGetId.telefonoSucursal"
           autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="editarDepartamento" class="form-label">Departamento</label>
          <input type="text" class="form-control" id="editarDepartamento" name="departamento" #departamento="ngModel" [(ngModel)]="SucursalModelGetId.departamento"
           autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="editarMunicipio" class="form-label">Municipio</label>
          <input type="text" class="form-control" id="editarMunicipio" name="municipio" #municipio="ngModel" [(ngModel)]="SucursalModelGetId.municipio"
           autocomplete="off">
        </div>
        <br>
        <button class="btn btn-aceptar" data-bs-dismiss="offcanvas" (click)="putSucursales()">Editar sucursal</button>

      </form>
    </div>
  </div>

</div>
